<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="requesturl" value="https://s.services.ird.govt.nz/ms_oauth/oauth2/endpoints/oauthservice/authorize?client_id={0}&amp;response_type=code&amp;scope=MYIR.Services&amp;redirect_uri={1}&amp;state=123" />
    <add key="postauthurl" value="https://s.services.ird.govt.nz/oam/server/auth_cred_submit" />
    <add key="redirecturi" value="redirect_uri=https%3A%2F%2Fbhcmst.ramcouat.com%3A4454%2Frvw&amp;grant_type=authorization_code&amp;code=" />
    <add key="tokenurl" value="https://s.services.ird.govt.nz/ms_oauth/oauth2/endpoints/oauthservice/tokens" />
    <add key="employeefilingurl" value="https://xzt.services.ird.govt.nz:4046/gateway/gws/employment/" />
    <add key="payrollfilingurl" value="https://xzt.services.ird.govt.nz:4046/gateway/gws/returns/" />
    <add key="tokenvalurl" value="https://s.services.ird.govt.nz/ms_oauth/oauth2/endpoints/oauthservice/tokens" />

    <add key="xmlPath" value="F:\Selvambigai_Workspace\2019\Applications\WindowsServicewithTimer\WindowsServicewithTimer\files\" />



    <add key="ClientAdmin" value="F:\Selvambigai_Workspace\2019\Applications\WindowsServicewithTimer\WindowsServicewithTimer\files\AdminLogin.xml" />
    <add key="ClientJson" value="F:\Selvambigai_Workspace\2019\Applications\WindowsServicewithTimer\WindowsServicewithTimer\files\ClientDetails.json" />
    <add key="ClientJsonChoosed" value="F:\Selvambigai_Workspace\2019\Applications\WindowsServicewithTimer\WindowsServicewithTimer\files\ClientDetailsChoosed.json" />
    <add key="DefaultConnection" value="Data Source=172.16.6.143;Initial Catalog=HRMS40;User Id=bhcm;Password=bhcm" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>